{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Activation Complete!</h2>
    <p>Your user account has been activated and you are now ready to save and analyze your Magic decks!</p>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}

