{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Activiation Failed!</h2>
    <p>Your user account has failed to be activated, the key provided was: {{ activation_key }}</p>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}

