{% include "header.html" %}
{% load url from future %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Login</h2>
    <hr/>

    {% if form.errors %}
        <span>Invalid username and password. Please try again.</span>
        <div style="clear: both; height: 10px;"></div>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
            <div style="clear: both; height: 10px;"></div>
        {% endfor %}
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
