{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>You have been logged out.</h2>
    <p>Thanks for spending some quality time with your favorite magic card utility site today!</p>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}

