{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Registration Complete!</h2>
    <p>Your user account has been created, and an activation email has been sent to the email address provided. Follow the instructions in the email to activate your account.</p>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}

