{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Register</h2>
    <hr />
    {% include "form.html" %}
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
