body {
margin:20px;
padding:0;
height:100%;
background-color:#666;
/* background-color:#ffffff; */
color:#000000;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

a {
color:#111111;
text-decoration:none;
}

a:hover {
color:#cc0000;
text-decoration:none;
/* text-decoration:underline; */
}

ul {
margin:0 0 0 20px;
list-style-type:disc;
}

li {
margin:4px 0 5px 10px;
}


blockquote {
margin:1em;
padding:.5em;
background-color:#eeeeee;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

blockquote p {
margin:.2em;
}

#container {
margin:0 auto;
padding:0;
width:1150px;
text-align:left;
vertical-align: middle;
background-color:#ffffff;
border:1px solid #000;
}



#header {
margin:0;
padding:0;
height:110px;
background-color:#2c2c2c;
}

#header h1 {
margin:0;
padding:20px 0 0 20px;
font-size:1.8em;
letter-spacing:.1em;
color:#ffffff;
font-weight:lighter;
}

strong {
font-weight:bold;
}

#header h2 {
margin:0;
padding:0 0 0 20px;
font-size:.9em;
font-weight:lighter;
letter-spacing:.1em;
color:#eeeeee;
}

#leftColumn {
float:left;
margin:0;
padding:0;
width:350px;
font-size:.9em;
}

#leftColumn p {
padding:10px
}


#leftColumn h2 {
margin:0;
padding:10px 0 0 10px;
font-size:1em;
}

#leftColumn ul {
margin:0 0 0 0;
list-style:none;
}

#leftColumn li {
margin:4px 0 5px 10px;
}

#leftColumn li a {
text-decoration:underline;
}

#leftColumn li a:hover{
text-decoration:none;
}

#centerColumn {
margin:0 0 0 350px;
padding:0;
background-color:#ffffff;
}

.centerColumnFull {
margin:0 0 0 0px;
padding:0;
background-color:#ffffff;
}

#centerColumn p {
padding:10px
}

#centerColumn h2 {
margin:0;
padding:10px 0 5px 0;
font-size:1.3em;
letter-spacing:.1em;
}

#footer {
position:relative;
clear: both;
bottom:0;
margin:80px 0 0 0;
padding:0;
height:60px;
line-height:60px;
text-align:center;
font-size:.6em;
background-color:#ffffff;
border-top:1px solid #cccccc;
}

.results, table {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
}
.results, tr th {
    padding: 10px;
}
.results, tr td {
    padding: 10px;
    border: 1px solid #666;
}

.results-small, table {
    border: 1px solid black;
    padding: 8px;
    width: 99%;
    font-size: 14px;
    margin-top: 10px;
}
.results, tr th {
    padding: 8px;
    font-size: 14px;
}
.results, tr td {
    padding: 8px;
    border: 1px solid #666;
    font-size: 14px
}
#search-box {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #555;
    border: 1px solid black;
    float: right;
    width: 400px;
    margin-top: 41px;
/*     margin-top: 29px; */
    margin-right: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#search-box-text {
    width: 205px;
    background-color: #333;
    border: 1px solid #222;
    color: #ddd;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-box-input {
-moz-border-radius: 15px;
border-radius: 15px;
}

#header-left {
    float: left;
    width: 400px;
    margin-top: 10px;
}

.preview-image {
    width: 175px;
}

#left-card-image {
    width: 312px;
    border: 1px solid black;
    margin-top: 8px;
    margin-left: 8px;
}
#centerColumn ul {
margin:0 0 0 0;
list-style:none;
}

#centerColumn li {
margin:4px 0 5px 10px;
}

#centerColumn li a {
text-decoration:underline;
}

#centerColumn li a:hover{
text-decoration:none;
}

.rarity {
    color: #666;
}

.nav {
border: 1px solid black;
padding: 6px;
float: left;
background-color: #222;
color: #fff;
font-size: 10px;
/* margin-top: 23px; */
}

.nav:hover {
background-color: #ddd;
color: #000;
}

.nav-right {
border: 1px solid black;
padding: 6px;
float: right;
background-color: #222;
color: #fff;
font-size: 10px;
margin-top: -20px;
/* margin-top: 23px; */
}

.nav-right:hover {
background-color: #ddd;
color: #000;
}

.bump-top {
margin-top: 6px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

thead * {
background-color: #aaaaaa;
}

/*.add-card {
    background-image: url('../images/add.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
}*/

.add-card-popup {
    width: 128;
    height: 64;
}

#chatbox {
    background-color: #D0D0D0;
    height: 20em;
    width: 100%;
    float: left;
}

#chat {
    height: 100%;
    width: 65%;
    border-right: 2px solid white;
    float: left;
    overflow: scroll;
}

#chat .me {
    color: #006600;
}

#chat div span:after {
    content: ' : ';
}

#chat .me span:after {
    content: '';
}

#users {
    height: 100%;
    width: 30%;
    float: left;
    overflow: scroll;
}

#lobby input {
    width: 80%;
    float: clear;
}

#lobby #send {
   width: 10%;
}

.symbol {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.fieldWrapper input {
    width: 200px;
    float: right;
}

.fieldWrapper {
    width: 375px;
}

.fieldWrapper label {
    float: left;
}

.errorlist {
    font-size: 0.8em;
    color: red;
}

.legalities, .rulings {
    padding-top: 10px;
}

#active-deck {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 8px solid #fff;
    padding: 0px;
    float: right;
    background-color: #444;
    top: 10px;
    right: 10px;
    color: #fff;
    position: absolute;
}
#deck-name {
    width: 400px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #111;
    color: #fff;
}
.deck-card {
    margin-left: 20px;
    margin-right: 20px;
}
#deck-toggle {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #111;
    float: right;
    padding: 9px;
    position: relative;
    top: 0;
    right: 0;
}

.td-deck-name {
    width: 250px;
}

.div-deck-description {
    width: 500px;
    height: 50px;
    overflow: auto;
}
.manager-div {
    clear: both;
    border: 4px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow: auto;
}


.button, .button span {
        display: inline-block;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.button {
        white-space: nowrap;
        line-height:1em;
        position:relative;
        outline: none;
        overflow: visible; /* removes extra side padding in IE */
        cursor: pointer;
        border: 1px solid #999;/* IE */
        border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
        border-bottom:rgba(0, 0, 0, .4) 1px solid;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        background: -moz-linear-gradient(
                center top,
                rgba(255, 255, 255, .1) 0%,
                rgba(0, 0, 0, .1) 100%
        );/* FF3.6 */
        background: -webkit-gradient(
                linear,
                center bottom,
                center top,
                from(rgba(0, 0, 0, .1)),
                to(rgba(255, 255, 255, .1))
        );/* Saf4+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
        -moz-user-select: none;
        -webkit-user-select:none;
        -khtml-user-select: none;
        user-select: none;
        margin-bottom:10px;
}
.button.full, .button.full span {
        display: block;
}
.button:hover, .button.hover {
        background: -moz-linear-gradient(
                center top,
                rgba(255, 255, 255, .2) 0%,
                rgba(255, 255, 255, .1) 100%
        );/* FF3.6 */
        background: -webkit-gradient(
                linear,
                center bottom,
                center top,
                from(rgba(255, 255, 255, .1)),
                to(rgba(255, 255, 255, .2))
        );/* Saf4+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
        top:1px;
}
.button span {
        position: relative;
        color:#fff;
        text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
        border-top: rgba(255, 255, 255, .2) 1px solid;
        padding:0.6em 1.3em;
        line-height:1em;
        text-decoration:none;
        text-align:center;
        white-space: nowrap;
}


.button.x-small span {
        font-size:10px;
}
.button.small span {
        font-size:12px;
}
.button.medium span {
        font-size:14px;
}
.button.large span {
        font-size:18px;
}


.button.black {
        background-color: #333333;
}
.button.gray {
        background-color: #666666;
}
.button.white {
        background-color: #FFFFFF;
}
.button.white span{
        color: #666666;
}
.button.red {
        background-color: #e62727;
}
.button.orange {
        background-color: #ff5c00;
}
.button.magenta {
        background-color: #A9014B;
}
.button.yellow {
        background-color: #ffb515;
}
.button.blue {
        background-color: #00ADEE;
}
.button.pink {
        background-color: #e22092;
}
.button.green {
        background-color: #91bd09;
}
.button.rosy {
        background-color: #F16C7C;
}
.button.brown {
        background-color: #804000;
}
.button.purple {
        background-color: #800080;
}
.button.cyan {
        background-color: #46C7C7;
}
.button.gold {
        background-color: #D4A017;
}

