{% load url from future %}

{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Deck Analysis</h2>

    <h3>Mana Curve</h3>
    <p>
        {{ card_count }}
        <p>
        <div> Card Count: {{ card_count }} </div>
        </p>
        {{ mana_curve }}
        <p>
        {% for cast_cost, amount in mana_curve.items %}
        {{ cast_cost }}
        <div style="color:white; background:black; float:left; width:{{ amount }}cm;">{{ amount }}</div>
        <br/>
        {% endfor %}
        </p>

        <div id="chartdiv" style="height:300px; width:400px; "></div>

    </p>

</div><!--//end #centerColumn//-->

<script type="text/javascript">
    // called using jsonp via the analyze_mana_curve_jsonp URL included below.
    var renderAnalysisData = function(data) {
        //
        $.jqplot(
            'chartdiv',
            [data.mana_curve],
            {
                seriesDefaults: {
                    renderer: $.jqplot.BarRenderer,
                    rendererOptions: {
                        barMargin: 5
                    },
                    pointLabels: {
                        show: true
                    }
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer
                    }
                }
            }
        );
    };
</script>
<script type="text/javascript" src="{% url "analyze_data_js" %}?jsonp=renderAnalysisData"></script>
{% include "footer.html" %}
