{% include "header.html" %}
    <div id="leftColumn">
        <img id="left-card-image" src="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ card.image_url }}" />
    </div>
    <!--//end #leftColumn//-->

<div id="centerColumn">
    <div style="position: relative; float: right; margin-top: 20px; margin-right: 20px;">
        <a href="#" class="button small black add-to-favorites" card_id="{{ card.id }}"><span>Add to Favorites</span></a>
        <a href="#" class="button small green add-card" qtipcontent="{{ card.id }}"><span>Add to Deck</span></a>
    </div>
    <h2>{{ card.name }}</h2>
    <h3><a href="/?type={{ card.type }}">{{ card.type }}</a>{% if card.sub_types %} - <a href="/?sub_type={{ card.sub_types}}">{{ card.sub_types }}</a>{% endif %}</h3>
    <h3 class="bump-top"><a href="/?edition_id={{ card.edition.id }}">{{ card.edition.name }}</a> - <a href="/?rarity={{ card.rarity }}"><span class="rarity">{{ card.rarity }}</span></a></h3>
    <blockquote><p class="card-info">{% autoescape off %}{{ card.oracle_text|linebreaksbr }}{% endautoescape %}</p>
    <p><em style="font-style: italic;">{{ card.flavor_text|linebreaksbr }}</em></p></blockquote>
    <p class="card-cost"><strong>Cost</strong>: {% autoescape off %}{{ card.cost}}{% endautoescape %}</p>
    <p><strong>Converted Cost</strong>: {{ card.converted_cost}}</p>
    {% if 'Creature' in card.type %}
        <p><strong>Power/Toughness</strong>: {{ card.power }}/{{ card.toughness }}</p>
    {% endif %}
    <p><strong>Illustrator</strong>: {{ card.illustrator }}</p>
    {% if card.other_side %}
    <p><strong>Other Side</strong>: <a href="/?id={{ card.back.id }}" class="hover-image" qtipcontent="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ card.back.image_url }}">{{ card.back.name }}</a></p>
    {% endif %}

    {% if card.legalities %}
    <hr />
    <h3 style="font-weight: bold;">Legalities:</h3>
    <ul>
        {% for legality in card.legalities %}
        <li class="legalities">{{ legality }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if card.rulings %}
    <hr />
    <h3 style="font-weight: bold;">Rulings:</h3>
    <ul>
        {% for ruling in card.rulings %}
        <li class="rulings">{{ ruling }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if card.other_editions %}
    <hr />
        <h3 style="font-weight: bold;">Available Editions:</h3>
        <table class="results-small">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Edition</th>
                    <th>Rarity</th>
                </tr>
            </thead>
            <tbody>
            {% for ocard in card.other_editions %}
                <tr>
                    <td><a href="/?id={{ ocard.id }}" class="hover-image" qtipcontent="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ ocard.image_url }}">{{ ocard.name }}</a></td>
                    <td><a href="/?edition_id={{ ocard.edition.id }}">{{ ocard.edition.name }}</a></td>
                    <td><a href="/?rarity={{ card.rarity }}">{{ ocard.rarity }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </ul>
    {% endif %}

</div><!--//end #centerColumn//-->
{% include "footer.html" %}
