{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    {% if deck %}
    <h2>Edit Deck</h2>
    {% else %}
    <h2>Create Deck</h2>
    {% endif %}
    <hr />
    <div id="deck-manager-form">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="fieldWrapper" style="width: 600px;">
                <label for="deck_name">Deck Name:</label>
                <input id="deck_name" type="text" name="deck_name" value="{% if deck %}{{ deck.name }}{% endif %}" style="width: 400px;" />
            </div>
            <div style="height: 10px; clear: both;"></div>
            <div class="fieldWrapper" style="width: 600px;">
                <label for="deck_name">Deck Description:</label>
                <textarea id="deck_description" name="deck_description" style="float: right; width: 400px; height: 100px;">{% if deck %}{{ deck.name }}{% endif %}</textarea>
            </div>
            <div style="clear: both; margin-top: 25px;">
                <input id="create-deck-submit" type="button" value="Save" />
            </div>
        </form>
    </div>
</div>
{% include "footer.html" %}
