{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Cards</h2>
    <table class="results">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for deck in decks %}
            <tr>
                <td style="width: 250px;">{{ deck.name }}</td>
                <td><div style="width: 500px; height: 50px; overflow: auto;">{{ deck.description }}</div></td>
                <td>{{ deck.quantity }}</td>
                <td width="1"><input type="button" id="select-deck" deck_id="{{ deck.id }}" value="Select" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
