{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2 style="width: 300px; float: left;">Cards</h2>
    <div style="float: right; width: 300px; text-align: right;">
        <input type="text" value="Iona" id="card-search-input" /> <input type="button" value="Search" id="card-search-button" />
    </div>
    <div id="results-div" class="manager-div">
        {% include "results_table.html" %}
    </div>
    <div style="clear: both;">
        <div style="float: left; width: 400px;">Deck Name: <input id="deck_name" type="text" name="deck_name" value="{% if deck %}{{ deck.name }}{% endif %}" /></div>
        <div style="float: left; width: 450px; height: 100px;">
        Description: <textarea id="deck_description" name="deck_description" style="width: 400px; height: 100px";>{% if deck %}{{ deck.name }}{% endif %}</textarea>
        </div>
        <input id="create-deck-submit" type="button" value="New Deck" style="float: left;" />
    </div>
    <br style="clear: both;" />
    <br style="clear: both;" />
    <hr style="clear: both;" />
    <h2 style="clear: both;">Your Decks</h2>
    <div class="manager-div">
        <table class="results">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="deck-manager-decks-tbody">
                {% for deck in decks %}
                <tr>
                    <td class="td-deck-name">{{ deck.name }}</td>
                    <td><div class="div-deck-description">{{ deck.description }}</div></td>
                    <td>{{ deck.quantity }}</td>
                    <td width="1"><a href="#" class="button x-small black select-deck" deck_id="{{ deck.id }}"><span>Select</span></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
