{% include "header.html" %}
<script src="/static/js/socket.io.min.js"></script>
<script>
    var Global = {
        username: '{{ username }}',
        duelserver: '{{ duelserver }}'
    };
</script>
<script src="/static/js/duel.js"></script>


<div id="lobby">
    <div id="chatbox">
        <div id="chat">
        </div>
        <ul id="users">
        </ul>
    </div>
    <form action="#">
        <input id="message" autocomplete="off"></input>
        <input id="send" type="submit" value="Send"></input>
    </form>
</div>

{% include "footer.html" %}
