{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>{{ edition.name }}</h2>
    <table class="results">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Sub-Type</th>
                <th>Cast Cost</th>
                <th>Rarity</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td><a href="/?id={{ card.id }}" class="hover-image" qtipcontent="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ card.image_url }}">{{ card.name }}</a></td>
                <td><a href="/?type={{ card.type }}">{{ card.type }}</a></td>
                <td><a href="/?sub_type={{ card.sub_types }}">{{ card.sub_types }}</a></td>
                <td><a href="/?cost={{ card.cost }}" class="card-cost">{% autoescape off %}{{ card.cost }}{% endautoescape %}</a></td>
                <td><a href="/?rarity={{ card.rarity }}">{{ card.rarity }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
