{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>{{ edition.name }}</h2>
    <table class="results">
        <thead>
            <tr>
                <th>Set Name</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
            {% for edition in editions %}
            <tr>
                <td>{{ edition.category }}</td>
                <td><a href="/?edition_id={{ edition.id }}">{{ edition.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
