<div id="footer">
    {% if request.session.current_deck %}
    <span id="current-deck" deck_id="{{ request.session.current_deck.id }}">
        Current deck: <a href="/deck_list/">{{ request.session.current_deck.name }}</a>
    </span>
    {% else %}<a href="/deck_list/">No deck selected.</a>{% endif %}
    | 
    <a href="/?show=editions" title="MTG Editions">MTG Edition List</a> | 
    <a href="http://pysgf.tumblr.com/" title="PySGF">PySGF - Springfield Python Users Group</a>
</div>
    <!--//end #footer//-->

</div><!--//end #container//-->


</body>
</html>
