{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Scott Blevins - PySGF" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.qtip.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jqplot.min.css" media="screen" />
    {% if js_files %}
    {% for js_file in js_files %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/{{ js_file }}.js"></script>
    {% endfor %}
    {% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jq_card.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hooks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/raphael.js"></script>
    {% endif %}
    <title>{{ card.name }}</title>
</head>
<body>
    <!--This is a workaround for the fact that Django 1.3.1 doesn't include the @ensure_csrf_cookie decorator.
    So instead, I am making a hidden form to ensure that the csrf cookie is set. Lame.-->
    <form action="." method="post" style="display: hidden;">{% csrf_token %}</form>
<div id="container">
    <div id="header">
        <div style="float: left;">
            <a href="/"><img style="border: 0;" border="0" src="{{ STATIC_URL }}images/MTG {{ colors|random }}.png" /></a>
        </div>
        <div id="header-left">
            <h1>The Planes of Magic</h1>
            <h2 style="color: #666;">"Lightning Bolt! Lightning Bolt!"</h2>
        </div>
        <div id="search-box">
            <form method="GET" action="/search/">
                <input type="text" name="search_string" id="search-box-text" value="{{ search_string }}" />
                <select name="search_type" class="search-box-input">
                    <option{% if search_type == 'Name' %} selected="selected"{% endif %}>Name</option>
                    <option{% if search_type == 'Abilities' %} selected="selected"{% endif %}>Abilities</option>
                    <option{% if search_type == 'Sub-Types' %} selected="selected"{% endif %}>Sub-Types</option>
                </select>
                <input type="submit" name="submit" value="Search" class="search-box-input" />
            </form>
        </div>
        <div style="clear: both; height: 0px; margin: 0; padding: 0;"></div>
        {% if user.is_authenticated %}
            <a href="{% url 'django.contrib.auth.views.logout' %}"><div class="nav-right">Logout</div></a>
            <a href="/favorites/"><div class="nav-right">My Favorites</div></a>
            <a href="/accounts/profile/"><div class="nav-right">My Account</div></a>
        {% else %}
            <a href="/accounts/login/"><div class="nav-right">Login</div></a>
            <a href="/accounts/register/"><div class="nav-right">Register</div></a>
        {% endif %}
        <a href="/?show=editions"><div class="nav-right">All Editions</div></a>
        <a href="/deck_manager/"><div class="nav-right">Deck Manager</div></a>
        <a href="#"><div class="nav-right">Deck Simulator</div></a>
        <a href="#"><div class="nav-right">Deck Analyzer</div></a>
        <a href="/duel/"><div class="nav-right">Play Magic</div></a>
        <a href="/tournaments/"><div class="nav-right">Tournaments</div></a>
        <a href="/advancedsearch/"><div class="nav-right">Advanced Search</div></a>
    </div><!--//end #headern//-->
<div style="clear: both; height: 0px; margin: 0; padding: 0;"></div>
{% if request.session.current_deck %}
<div id="active-deck">
    <div id="deck-toggle">
        <img src="{{ STATIC_URL }}/images/symbols/tap.png" />
    </div>
    <div id="deck-name" style="display: none;">{{ request.session.current_deck.name }}</div>
    <div id="deck-cards" style="display: none;">
        <div>&nbsp;</div>
        {% for deck_card in request.session.current_deck.deck_cards %}
        <div class="deck-card">{{ deck_card.quantity }}x&nbsp;&nbsp;&nbsp;{{ deck_card.card.name }}</div>
        {% endfor %}
        <div>&nbsp;</div>
    </div>
</div>
{% endif %}
