<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Proxy Printing - Use Print Preview - Set scaling to 96% for Portrait, 100% for Landscape. </title>

        <style type="text/css" media="print">
            /* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
            */

            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed, 
            figure, figcaption, footer, header, hgroup, 
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure, 
            footer, header, hgroup, menu, nav, section {
                    display: block;
            }
            body {
                    line-height: 1;
            }
            ol, ul {
                    list-style: none;
            }
            blockquote, q {
                    quotes: none;
            }
            blockquote:before, blockquote:after,
            q:before, q:after {
                    content: '';
                    content: none;
            }
            table {
                    border-collapse: collapse;
                    border-spacing: 0;
            }
        </style>

        <style type="text/css" media="print">
            /* CSS for printing: */

            @page {
                /* TODO: Print in landscape or portrait depending on the browser. */
                size: landscape;

                /* Set our margins to nothing. */
                margin-left: 0mm;
                margin-right: 0mm;
                margin-top: 0mm;
                margin-bottom: 0mm;
            }

            body {
                margin: 0mm;
                border: 0mm;
            }

            /* Cards are exactly this size when printed */
            img.card {
                width: 63mm;
                height: 88mm;
            }

            /* Make any whitespace effectively nonexistent. */
            div {
                font-size: 0pt;
                margin: 0mm;
                padding: 0mm;
                border: 0mm;
            }

        </style>

        <style type="text/css" media="screen">
            div {
                margin: 3%;
                width: 80%;
                font-size: 24pt;
                font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
            }
        </style>
</head>

<body id="home">
    <div>
        <h1> Printing Your Cards </h1>
        <p><em>Text on this page will not print</em></p>
        <p>
            Printing proxies needs just a little work before they'll print nicely.
            When you hit <b>"Print Preview"</b> in your browser's menu, you will probably see just a handful of cards shown per page.
            Probably around 6 or so.
            If you are lucky, you'll see <b>9 cards per page.</b>
            If this is the case, you can go ahead and <b>print</b>. Your settings are correct.
        </p>
        <p>
            Otherwise, your settings are all sorts of wrong.
            At this point, you have a few options:
            <ul>
                <li>
                    Reduce <b>page scaling</b> until 9 cards print on a page. 96% seems to work well.
                </li>
                <li>
                    Muck about with your <b>margin</b> settings. 0.01" for left, right, and bottom seem to work well.
                    Do not reduce the top margin however, most printers cannot print in the top quarter-inch or so.
                </li>
                <li>
                    If you are satisfied with only printing 8 cards per page, try setting the print orientation to <b>"Landscape"</b> mode.
                </li>
            </ul>
        </p>
        <p>
            <h3>Do a test print first!</h3>
            Check that they are the right size, and that they will fit in your sleeves.
            This may take some trial and error to get perfect.
            We recommend making a test deck with only one card in it to check for scaling.
        </p>
    </div>

    <div id="cards">
        {% for card in cards %}
            <img class="card" src="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ card.image_url }}"/>
        {% endfor %}

<!--        Originally there were page-break divs and linebreaks to split up the images.
        Then I realized that I could just let the images break naturally for whatever
        layout the user happened to want.-->


    </div>
</body>
</html>
