<table class="results">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Edition</th>
            <th>Type</th>
            <th>Sub-Type</th>
            <th>Cast Cost</th>
            <th>Rarity</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td width="170">
                <a href="#" class="button x-small green add-card" qtipcontent="{{ card.id }}"><span>+ Deck</span></a>&nbsp;<a href="#" class="button x-small black add-to-favorites" card_id="{{ card.id }}"><span>+ Favorites</span></a>
            </td>
            <td><a href="/?id={{ card.id }}" class="hover-image" qtipcontent="{% if not scans %}http://magiccards.info{% else %}{{ STATIC_URL }}{% endif %}{{ card.image_url }}">{{ card.name }}</a></td>
            <td><a href="/?edition_id={{ card.edition.id }}" title="{{ card.edition.name }}">{{ card.edition.name|truncatewords:3 }}</a></td>
            <td><a href="/?type={{ card.type }}">{{ card.type }}</a></td>
            <td><a href="/?sub_type={{ card.sub_types }}">{{ card.sub_types }}</a></td>
            <td><a href="/?cost={{ card.cost }}" class="card-cost">{% autoescape off %}{{ card.cost }}{% endautoescape %}</a></td>
            <td><a href="/?rarity={{ card.rarity }}">{{ card.rarity }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
