{% include "header.html" %}
<div id="centerColumn" style="margin: 10px;">
    <h2>Search Results</h2>
{% if searched %}
    {% if not cards %}
    <p>There were no results for: "{{ search_string }}"</p>
    {% else %}
        {% include "results_table.html" %}
    {% endif %}
{% endif %}
</div><!--//end #centerColumn//-->
{% include "footer.html" %}
